<% include ../partials/start %>
<% include ../partials/nav-admin %>

<section class="container content-height py-3">
    <!--Title-->
    <h1>Dashboard</h1>
</section>

<% include ../partials/footer %>
<% include ../partials/end %>