<footer class="py-2 bg-dark border-top text-white-50">
    <div class="container">
        <small><span class="font-weight-bold">Gerenciador de Imóveis</span> - Cruz/Agro/MPN &copy; 2018</small>
    </div>
</footer>