<% include ../partials/start %>
<% include ../partials/nav %>

<section class="container content-height py-3">
    <h1 class="h6 text-uppercase">Visão Geral</h1>
    <div class="row">
        <div class="col">
            <div class="box-shadow">
                Kfdijfiodji
            </div>
        </div>
    </div>
</section>

<% include ../partials/footer %>
<% include ../partials/end %>