<!-- DASHBOARD SIDEBAR -->
<div class="card rounded-0 border-0 sticky-top box-shadow">
    <div class="card-header">
        <h5 class="m-0">Filtros</h5>
    </div>
    <div class="card-body">
        <form action="/visao-geral" method="GET">
            <label class="d-block font-weight-bold">Proprietários:</label>
            <% include ../components/ownersFilter %>
            <label class="d-block font-weight-bold mt-3">Tipos:</label>
            <% include ../components/realtyTypeFilter %>
            <hr>
            <button type="submit" class="btn btn-primary btn-block rounded-0 mt-3">Aplicar</button>
        </form>
        <a href="/imoveis" class="btn btn-light btn-block rounded-0 mt-2">Resetar filtros</a>
    </div>
</div>  