<!-- DASHBOARD SIDEBAR -->
<div class="card rounded-0 border-0 sticky-top box-shadow">
    <div class="accordion" id="filtersAccordion">
        <div class="card-header clearfix">
            <button class="btn btn-link p-0 text-decoration-none w-100" type="button" data-toggle="collapse" data-target="#collapseFilters" aria-expanded="true" aria-controls="collapseOne">
                <h1 class="h5 m-0 float-left">Filtros</h1>
                <i class="fas fa-angle-double-down float-right d-block h-100 mt-1 float-right"></i>
            </button>
        </div>
        <div id="collapseFilters" class="collapse hide" data-parent="#filtersAccordion">
            <div class="card-body">
                <form action="/visao-geral" method="GET">
                    <label class="d-block font-weight-bold">Proprietários:</label>
                    <% include ../components/ownersFilter %>
                    <label class="d-block font-weight-bold mt-3">Tipos:</label>
                    <% include ../components/realtyTypeFilter %>
                    <hr>
                    <button type="submit" class="btn btn-primary btn-block rounded-0 mt-3">Aplicar</button>
                </form>
                <a href="/imoveis" class="btn btn-light btn-block rounded-0 mt-2">Resetar filtros</a>
            </div>
        </div>
    </div>
</div>
