<% include ../partials/start %>
<% include ../partials/nav %>

<section class="container content-height py-3">
    <h1 class="h6 text-uppercase">Visão Geral</h1>
    <div class="row">
        <div class="col-6 col-md-4 mb-3">
            <div class="card rounded-0 border-0 box-shadow">
                <div class="card-body text-center">
                    <h1 class="h6">Imóveis</h1>
                    <h2 class="font-weight-light"><%= allRealty.length %></h2>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 mb-3">
            <div class="card rounded-0 border-0 box-shadow">
                <div class="card-body text-center">
                    <h1 class="h6">Ocupados</h1>
                    <h2 class="font-weight-light"><%= occupiedRealty.length %></h2>
                </div>
            </div>
        </div>
    </div>
</section>

<% include ../partials/footer %>
<% include ../partials/end %>