<% include ./partials/start %>

<div class="container-fluid" style="background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('/img/terceira-ponte-vitoria.jpg') no-repeat center center; background-size: cover;">
    <div class="d-flex flex-column align-items-center justify-content-center vh-100 text-center">
        <h1 class="display-4">Grupo CTC</h1>
        <h2 class="font-weight-light">Gerenciador de Imóveis</h2>
        <a href="/imoveis" class="btn btn-primary btn-lg mt-3">Acessar Sistema</a>
    </div>
</div>

<% include ./partials/end %>