<% include ./partials/start %>

<div class="container-fluid" style="background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('/img/terceira-ponte-vitoria.jpg') no-repeat center center; background-size: cover;">
    <div class="d-flex flex-column align-items-center justify-content-center vh-100">
        <!--Title-->
        <h1 class="font-weight-light text-center mb-3">Entrar</h1>
        
        <!--Card-->
        <div class="card bg-white rounded">
            <div class="card-body">
                <!--Login form-->
                <form action="/entrar" method="POST">
                    <!--Username-->
                    <div class="form-group">
                        <label for="username">Usuário</label>
                        <input type="text" class="form-control" id="username" name="username" autofocus required>
                    </div>
                    
                    <!--Password-->
                    <div class="form-group">
                        <label for="password">Senha</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    
                    <!--Login button-->
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </form>
            </div>
        </div>
        
        <!--Error and success flash messages-->
        <% if (error && error.length > 0) { %>
            <span class="text-danger mt-3"><%= error %></span>
        <% } %>
        <% if (success && success.length > 0) { %>
            <span class="text-success mt-3"><%= success %></span>
        <% } %>        
    </div>
</div>

<% include ./partials/end %>