<div class="card rounded-0 border-0 sticky-top box-shadow">
    <!--Accordion-->
    <div class="accordion" id="filtersAccordion">
        <div class="card-header clearfix">
            <button class="btn btn-link p-0 text-decoration-none w-100" type="button" data-toggle="collapse" data-target="#collapseFilters" aria-expanded="true" aria-controls="collapseOne">
                <h1 class="h5 m-0 float-left">Pesquisar</h1>
                <i class="fas fa-angle-double-down float-right d-block h-100 mt-1 float-right"></i>
            </button>
        </div>
        
        <!--Accordion collapse-->
        <div id="collapseFilters" class="collapse hide" data-parent="#filtersAccordion">
            <div class="card-body">
                <!--Filters form-->
                <form action="/inquilinos" method="GET">
                    <!--Search-->
                    <label class="font-weight-bold">Nome do inquilino:</label>
                    <input type="text" class="form-control rounded-0 mb-3" id="search" name="search" placeholder="ex: João" value="<%= search %>">
                    <hr>
                    
                    <!--Apply filters button-->
                    <button type="submit" class="btn btn-primary btn-block rounded-0 mt-3">Aplicar</button>
                </form>
                
                <!--Reset filters-->
                <a href="/inquilinos" class="btn btn-light btn-block rounded-0 mt-2">Resetar filtros</a>
            </div>
        </div>
    </div>
</div>
